<!DOCTYPE html>
<html
        xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
        layout:decorator="~{layout}">
<head>

    <meta charset="UTF-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1"/>

    <title>System Message</title>

</head>
<body>

<div layout:fragment="content">
    <div class="container" style="margin-top:50px">
        <div class="row">
            <p></p>
            <p>
                <button id="collapseBtn" class="btn btn-primary" type="button" data-toggle="collapse"
                        data-target="#collapseExample"
                        aria-expanded="false" aria-controls="collapseExample">
                    Add Message
                </button>
            </p>
            <div class="collapse" id="collapseExample">
                <div class="card card-body container">
                    <div class="col-md-5">
                        <div id="sys_message_code">
                            <div class="form-group">
                                <label for="code">code:</label>
                                <div>
                                    <input class="form-control" id="code">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div id="sys_message_image">
                            <div class="form-group">
                                <label for="image">image:</label>
                                <div>
                                    <input class="form-control" id="image">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                    </div>
                    <div class="col-md-5">
                        <div id="sys_message_en">
                            <div class="form-group">
                                <label for="message_en">message:</label>
                                <div>
                                    <input class="form-control" id="message_en">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-5">
                        <div id="sys_message_kh">
                            <div class="form-group">
                                <label for="message_kh">message kh:</label>
                                <div>
                                    <input class="form-control" id="message_kh">
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-2">
                        <div id="sys_message_button_add">
                            <div class="form-group">
                                <label for="save-sys-message"> -- </label>
                                <div>
                                    <button id="save-sys-message" type="button" class="btn btn-light"> save</button>
                                    <span id="ok-sign-1" class="glyphicon glyphicon-ok-circle"
                                          style="color: lawngreen; display: none;"></span>
                                </div>
                                <!--                                <input class="btn btn-primary" type="submit" value="Submit">-->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-md-12" style="overflow:hidden; overflow-y: scroll; height: 100%;">
                <table id="tbl-result" style="table-layout: fixed; width:100%;" class="table table-striped">
                    <thead>
                    <tr>
                        <td style="white-space: pre; width: 10%;"><b>code</b></td>
                        <td style="white-space: pre;  width: 30%;"><b>message</b></td>
                        <td style="white-space: pre;  width: 30%;"><b>messageKh</b></td>
                        <td style="white-space: pre;  width: 20%;"><b>image</b></td>
                        <td style="white-space: pre;  width: 10%;"><b>actions</b></td>
                    </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<th:block layout:fragment="script">
    <script th:inline="javascript">
        function findByCode() {
            $.get("/messages", function (data, status) {
                $.each(data, function (i, item) {
                    var coco = item.code;
                    console.log("Hello : " + coco);
                    var $divKh = $('<div style="overflow-x:auto;"/>').text(item.messageKh);
                    var $divEn = $('<div style="overflow-x:auto;"/>').text(item.message);
                    var $linkUpdate = $('<a href="#" onclick="updateSysMessage(this)"/>').attr('id', 'update_' + coco).text('update');
                    var $seperate = $('<span/>').text(' | ');
                    var $linkDelete = $('<a href="#" onclick="deleteSysMessage(this)"/>').attr('id', 'delete_' + coco).text('delete');

                    $('<tr>').append(
                        $('<td style="white-space: pre; font-size: larger; font-weight: bold; width: 10%;">').text(item.code),
                        $('<td style="white-space: pre;  width: 30%;">').append($divEn),
                        $('<td style="white-space: pre;  width: 30%;">').append($divKh),
                        $('<td style="white-space: pre;  width: 20%;">').text(item.image),
                        $('<td style="white-space: pre;  width: 10%;">').append($linkUpdate).append($seperate).append($linkDelete)
                    ).appendTo('#tbl-result tbody');
                });
            });
        }

        findByCode();

        $('#save-sys-message').on('click', function () {
            saveSysMessage();
        });

        function saveSysMessage() {
            var data = JSON.stringify({
                "code": $('#code').val(),
                "message": $('#message_en').val(),
                "messageKh": $('#message_kh').val(),
                "image": $('#image').val()
            });
            console.log(code);
            $.postJSON('/messages', data, 'POST', function (result) {
                console.log(result);
                window.location.reload(true);
            });
        }

        function deleteSysMessage(item) {
            var bool = confirm("Confirm Delete!");
            console.log(bool);
            if (bool == true) {
                $.postJSON('/messages/' + item.id.replace('delete_', ''), '', 'DELETE', function (result) {
                    console.log(result);
                    window.location.reload(true);
                });
            } else {
                console.log("FALSE");
            }
        }

        function updateSysMessage(item) {
            $('#collapseExample').collapse('show');
            console.log(item.id);
            $.postJSON('/messages/' + item.id.replace('update_', ''), '', 'GET', function (result) {
                console.log(result);
                $('#code').val(result.code);
                $('#message_en').val(result.message);
                $('#message_kh').val(result.messageKh);
                $('#image').val(result.image);
            });

        }


        $.postJSON = function (url, data, type, callback) {
            return jQuery.ajax({
                headers: {
                    'Accept': 'application/json',
                    'Content-Type': 'application/json'
                },
                'type': type,
                'url': url,
                'data': data,
                'dataType': 'json',
                'success': callback
            });
        };

    </script>
</th:block>
</body>
</html>
